/* border-box fix */
html {
  box-sizing: border-box;
  height: 100%;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* remove margin and padding on body */
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #9776768e;
  background-image: url(images/mysticsnow\.png);
  background-attachment: fixed;
}

/* Grouping example */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.wrapper {
  background: #faeed1dd;
  width: 92%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  max-width: 1300px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-top: 20px;
}

div.intro {
  grid-column: 1 / -1;
    text-align: center;
  padding-left: 0;
}


/* padding on immediate children of wrapper */
.wrapper>* {
  padding: 20px;
}

header {
  background: #ffffff;
  grid-column: 1 / 13;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #38312F;
  background-image: url(images/mysticsnow\.png);

}

.logo img {
  position: relative;
  width: 30px;
  animation: wiggle 1s ease-in-out;

}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

nav {
  background: #ebc4699d;
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  text-align: center;
}

nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  background-color: #9776768e;
  border-radius: 10%;
  width: 200px;
  height: 50px;
  padding: 12px 20px;
  text-align: center;
  margin: 4px 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
}

nav a:hover {
  color: #e8e21d;
}

.head {
   font-family: "Amatic SC", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #38312F;
    margin-bottom: -20px;
  /* reduce this */
}

h2,
h3,
h4,
h5,
p {
  color: #000000;

}

h3 {
  padding-left: 50px;
}

p,
h2,
h3,
h5,
nav {
  line-height: 1.1;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-size: large;
  font-style: normal;
  word-spacing: 20%;
}

.sectionOne img,
.sectionTwo img,
.sectionThree img,
.sectionFour img,
.sectionFive img,
.sectionSix img {
  width: 350px;
  border: 3px solid #9776768e;
}

.sectionOne img:hover,
.sectionTwo img:hover,
.sectionThree img:hover,
.sectionFour img:hover,
.sectionFive img:hover,
.sectionSix img:hover {
  background-color: #77a63e88;
}

.sectionOne {
  grid-column: 1;
}

.sectionTwo {
  grid-column: 2;
}

.sectionThree {
  grid-column: 3;
}

.sectionFour {
  grid-column: 1;
}

.sectionFive {
  grid-column: 2;
}

.sectionSix {
  grid-column: 3;
}


#panel1,
#panel2,
#panel3,
#panel4,
#panel5,
#panel6 {
  display: none;
  /* hidden before click */
  padding: 20px;
  background-color: #e5eecc;
  border: 1px solid #c3c3c3;
}

/* On the Road part */

* {
  box-sizing: border-box;
}

/* container for the road + van */
.greenroad {
  position: relative;
  justify-content: center;
  /* Center the images */
  margin: 40px 0px 40px 20px;
  /* grid-template-columns: 1/3;
  grid-template-rows: 4/13; */
}

.road-img {
  width: 65vw;
  max-width: 1200px;
  display: block;
}

/* campervan overlay */
.van-img {
  position: absolute;
  width: 13vw;
  top: 30%;
  left: 0;
  z-index: 10;
  animation: vanRide 7s ease-in-out infinite;
}


@keyframes vanRide {
  0% {
    transform: translateX(0) translateY(0);
  }

  80% {
    transform: translateX(600px) translateY(-2px);
  }

  100% {
    transform: translateX(600px) translateY(0);
  }
}


/* Destinations on the right side vertically */
.destinations, .destinationsTwo {
  position: absolute;
  top: 265px;
  /* moves them below header */
  right: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* grid-template-columns: 3/4; */
}

.destinationsTwo {
/* position: absolute; */
  top: 300px;
  /* moves them below header */
  /* right: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px; */
  /* grid-template-columns: 3/4; */
}

.destinations li a img, .destinationsTwo li a img {
  width: 220px;
  height: auto;
  display: block;
  border: 2px solid #9776768e;
  border-radius: 2px;
  transition: transform 0.3s;
  align-items: right;
  filter: saturate(1.4) brightness(1) contrast(1);
}

.destinationsTwo li a img {
  width: 100px;
  /* height: auto;
  display: block;
  border: 2px solid #9776768e;
  border-radius: 2px;
  transition: transform 0.3s;
  align-items: right;
  filter: saturate(1.4) brightness(1) contrast(1); */
}

.destinations li a img:hover, .destinationsTwo li a img:hover {
  transform: scale(1.1);
}


/* camping sites */

/* #page {
  position: relative;
} */


/* this is the issue ones */
/* verses width:90vw???? */
#ocean-canvas {
  position: relative;
  /* KEY */
  width: 900px;
  max-width: 100%;
  margin: 40px auto;
}

.campingview {
  width: 100%;
  display: block;
  filter: saturate(1.5) brightness(1) contrast(1);
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat (2, 250px); */
}

/* second line on right */
#right-container {
  right: 10%;
}


#right-containerOne {
  right: 0px;
}

.containerSecond {
  background-color: #faeed1dd;
  /* grid-column: 8 / 11; */
  width: 10%;
  top: 0px;
  position: absolute;
  height: 100%;
  padding: 0px;
}

.containerTwo {
  background-color: #faeed1dd;
  /* grid-column: 11 / 12; */
  width: 10%;
  top: 0px;
  position: absolute;
  height: 100%;
  padding: 0px;
}

div.camping-tools {
  position: relative;
  height: 13%;
  left: -10px;
}

div.camping-tools img.decoElement {
  position: absolute;
  max-width: 170%;
  max-height: 170%;
  z-index: 2;
}

/* footer */

footer {
  grid-column: 1 / 13;
  border-top: solid #000000;
  margin-top: 50px;
  background-color: #9776768e;
  text-align: center;
  padding: 20px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: underline;
}