body {
    background-color: #000;
    background-image: url("images/moss04.jpg");
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    /* background-position-y: bottom;  */

    margin: 0;
    padding: 0;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* 200 – 800 */
    font-style: normal;

}

body.mossground {
    background-image: url("images/moss02.jpg");
    background-attachment: fixed;
}

body.mosssoil {
    background-image: url("images/moss03.jpg");
    background-attachment: fixed;
}

/* id rule uses hashtag #, only one per page */
#wrapper {
    margin: 100px auto;
    width: 60%;
    background-color: #fff;
    padding: 30px 50px;
    /* background-image: url("images/moss03.jpg"); */
}

/* class rules use a period to make a rule about a class, use multiple times */
.wow {
    color: #f00;
    font-weight: 900;
    font-style: italic;
}

header h1 {

    font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    /* 100-900 */
    font-style: normal;
    font-variant: small-caps;
    font-size: 66px;
}

main p {

    font-size: 18px;
    line-height: 24px;
}


main h2 {
    border: rgb(29, 22, 22) dotted 3px;
    background-color: #D2E82A;
    padding: 120px 10px 10px 10px;
    margin: 40px 0px;
    font-size: 44px;
    text-align: center;
}

div.featuredImageOne {
    border: solid #535C11 10px;
    background-color: #d2e82a;
    padding: 40px;
    margin: 100px auto;
    width: 300px;
    text-align: center;

}

div.featuredImageTwo {
    border: dotted rgb(110, 16, 117) 10px;
    background-color: rgb(226, 156, 221);
    padding: 40px;
    margin: 100px auto;
    width: 300px;
    text-align: center;
}


div.featuredImageOne img {
    width: 100%;
}

div.featuredImageTwo img {
    width: 100%;
}

.impnote {
    background-color: #ffc0cb;
    border-left: 40px double rgb(189, 94, 110);
    align-items: center;
    display: flex;
    padding: 20px;
}

table,
th,
td,
tr {
    margin: 0px;
    padding: 0px;

}


main table {
    border: 10px solid rgb(192, 192, 192);
    background-color: rgb(255, 207, 74);

}

main table th {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(155, 155, 155);
    font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    /* 100-900 */
    font-style: normal;
    font-variant: small-caps;
    font-size: 33px;
    padding: 22px;

}

main table td {
    border: 5px solid rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);

}

nav {
    /* background-color: #535C11; */
    padding: 40px;
    text-align: center;

}

nav a {
    font-size: 24px;
    border: #F00 solid 5px;
    background-color: #D2E82A;
    padding: 22px;
    margin: 20px;
    color: #000;
    text-decoration: none;
}

/* how to make Featured in different color like SALE or CLEARANCE on websites */
nav div.distinguished a {
     font-size: 24px;
    border: #F00 solid 5px;
    background-color: #D2E82A;
    padding: 22px;
    margin: 20px;
    color: #cd0a0a;
    text-decoration: none;    
}

.sale {
    color: red;
}

nav a:hover {
    background-color: #fff;
}


/* how to make the whole row hover? */
main table td:hover {
    background-color: aqua;
}