/* border-box fix */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* remove margin and padding on body */
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

/* Grouping example */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.wrapper {
  background: #ffffff;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat (2, 250px);
  max-width: 1200px;
}

/* padding on immediate children of wrapper */
.wrapper>* {
  padding: 20px;
}

header {
  background: #ffffff;
  grid-column: 1 / 13;
  text-align: center;
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: italic;
  font-size: large;
  color: #38312F;

}

.logo img {
  position: relative;
  width: 60px;
  animation: wiggle 1s ease-in-out;

}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

nav {
  background: #ffffff;
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  text-align: center;
  border-top: solid #000000;
}

nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10%;
  width: 200px;
  height: 50px;
  padding: 12px 20px;
  text-align: center;
  margin: 4px 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
}

nav a:hover {
  color: #e93c11;
}

h2,
h3,
h4,
p {
  color: #000000;

}

.sectionOne,
.sectionTwo,
.sectionThree,
main,
aside,
.sectionSix {
  position: relative;
  overflow: hidden;
  /* hides overflow text */
  opacity: 10;
  padding: 20px;
}

/* soft gradient fade near bottom to hint more text */
.sectionOne::after,
.sectionTwo::after,
.sectionThree::after,
main::after,
aside::after,
.sectionSix::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}

.sectionOne {
  background-color: rgb(255, 255, 255);
  grid-column: 1 / 5;
  grid-row: 3 / 5;
  border-right: 1px solid #000000;
}

.sectionTwo {
  background: #ffd7ce;
  grid-column: 1 / 5;
  grid-row: 5 / 13;
  border-right: 1px solid #000000;

}

.sectionThree {
  background: #ffd7ce;
  grid-column: 5 / 9;
  grid-row: 3 / 11;
  border-right: 1px solid #000000;
}

.breaking img {
  position: relative;
  width: 150px;
  animation-name: easeout;
  animation-duration: 3s;
  animation: flying 1.8s ease-out forwards;
  animation-fill-mode: forwards;
}

@keyframes flying {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

main {
  background: #fff;
  grid-column: 5 / 9;
  grid-row: 11 / 13;
  border-right: 1px solid #000000;
}

img {
  width: 350px;
}

.bio {
  text-align: right;
}

aside {
  background: #fff;
  grid-column: 9 / 13;
  grid-row: 3 / 4;

}

.sectionSix {
  background: #ffd7ce;
  grid-column: 9 / 13;
  grid-row: 4 / 13;

}

.readmore {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: rgb(212, 143, 163);
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.sectionOne:hover .readmore,
.sectionTwo:hover .readmore,
.sectionThree:hover .readmore,
main:hover .readmore,
aside:hover .readmore,
.sectionSix:hover .readmore {
  opacity: 1;
  background-color: #e93c11;
}

.aboutmain {
  grid-column: 1 / 13;
  grid-row: 3 / 9;
  border: transparent 50px solid;
  margin: 0px 100px 0 100px;
}

div.profilep {
  text-align: right;
}

div.featureupdated {
  text-align: right;
}

.featuremain {
  grid-column: 1 / 13;
  grid-row: 3 / 12;
  border: transparent 50px solid;
  margin: 0px 100px 0 100px;
}

.adanimation {
  position: relative;
  width: 600px;
  height: 100px;
  margin: 0 auto;
}

.adanimation img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: switch 6s infinite ease-in-out;
}

@keyframes switch {
  0% {
    opacity: 1;
  }

  27% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  94% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.adanimation img:nth-child(1) {
  animation-delay: 0s;
}

.adanimation img:nth-child(2) {
  animation-delay: 2s;
}

.adanimation img:nth-child(3) {
  animation-delay: 4s;
}

footer {
  background: #fff;
  grid-column: 1 / 13;
  border-top: solid #000000;
  margin-top: 50px
}

footer {
  background-color: #f9e8e8;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer a:hover {
  text-decoration: underline;
}