body header h2 {
  animation-timing-function: linear;
}


body {
    background-color: rgb(178, 64, 201);
    color: rgb(248, 250, 248);
    margin: 0px;

    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    font-weight: 100;
}

header {
    background-color: rgb(38, 174, 76);
    text-align: center;
    padding: 10px;
    letter-spacing: -3px;
    word-spacing: 10px;
    font-size: 44px;
    color: rgb(187, 84, 11);

}

/* Need to study this part for animation movement */

  #frameDiv {
    width: 400px;
    height: 170px;
    margin: 20px;
    position: relative;
    border: solid black 1px;
    background-color: rgb(205, 242, 205);
  }

  header img {
    position: absolute;
    z-index: 1;
    width: 70px;
    offset: path('M 50 80 C 150 -20 250 180 350 80') 150px auto 45deg;
    animation: moveImg 4s 1s 3;
  }

  svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  @keyframes moveImg {
    100%  { offset-distance: 100%; }
  }

header h1 {
    font-weight: 100;
    margin: 10px;
}

header h2 {
    font-weight: 100;
    margin: 10px;
}


nav {
    background-color: rgb(13, 214, 191);
    padding: 20px;
    text-align: center;
    font-size: 30px;

}


/* descendant selector */
nav a {
    margin: 20px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #000;

}

main {

    background-color: rgb(187, 164, 14);
    padding: 100px;

}

main h2 {
    font-size: 66px;
    letter-spacing: 5px;
    margin: 20px 0px;
}

main h3 {
    margin: 10px 0px 10px 0px;
    font-size: 35px;
}

main p {
    margin: 10px 0px;
    font-size: 16px;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* question about table I split this part here */

/* and the format changes when I take # away */
/* and how do you know this covers color table in ABOUT session? if there are multiple p or div, the css would affect every Ps and CSSs? */
#main {
    width: 600px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
}

#main div {
    width: 150px;
    height: 100px;
}

div p {
    text-align: center;
}

main img {
  border: 1px solid;
  padding: 10px;
  box-shadow: 30px 10px;
  color: #853dbb
}
/* question about instructing only specific part, not including all p's ex, tables*/

main p {
  background-color: rgb(144, 126, 34);
  border-end-end-radius: 20px;
}

main img {

    width: 200px;
    height: 200px;
    border: 10px solid rgb(244, 237, 243);
    padding: 12px;
    margin: 22px;
    background-color: rgb(228, 201, 236);
    border-style: checked;
}

footer {
    background-color: rgb(38, 174, 76);
    padding: 10px;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-size: 25px;

    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;

}

footer h3 {
    font-size: 30px;
    margin: 20px;
}

footer li {
    font-size: 15px;
    margin: 25px;

}

footer li:hover {
    color: #000;
}